body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 33%, 98%);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0b0a3d;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

select,
input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #0056b3;
    color: rgb(11, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ffffff;
    color: #000;
}

h2 {
    margin: 10px 0;
}

button.edit, button.remove {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.edit {
    background-color: #ffc107;
    color: #000;
}

button.edit:hover {
    background-color: #e0a800;
}

button.remove {
    background-color: #dc3545;
    color: #fff;
}

button.remove:hover {
    background-color: #c82333;
}
